.header {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}

.title {
    font-size: 5rem;
    font-weight: bolder;
    cursor: pointer;
    color: #e0e1dd;
}

.title_link {
    text-decoration: none;
    color: black;
}

.profile_pic {
    height: 200px;
    border-radius: 50%;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.4), 0 6px 20px 0 rgba(255, 255, 255, 0.2);
    object-fit: cover;
}

.message_pic {
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.message_pic:hover {
    scale: 1.2;
}

@media only screen and (max-width: 600px) {
    .title {
        display: none;
    }

    .sub_title {
        display: none;
    }

    .header {
        justify-content: center;
    }
}