.header {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}

.title {
    font-size: 5rem;
    font-weight: bolder;
    cursor: pointer;
    /* text-shadow: 4px 2px 8px black; */
}

.title_link {
    text-decoration: none;
    color: black;
}

.profile_pic {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.message_pic {
    position: absolute;
    top: 20px;
    right: 20px;
}

.message_pic:hover {
    scale: 1.2;
}