.header {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}

.title {
    font-size: 5rem;
    font-weight: bolder;
    cursor: pointer;
    text-shadow: 4px 2px 8px black;
}

.profile_pic {
    border-radius: 50%;
    box-shadow: 6px 4px 12px black;
}